body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 40px;
}

.painting {
    display: grid;
    width: 746px; 
    height: 722px; 
    background-color: #000;
    grid-template-columns: 44px 88px 136px 182px 172px 44px 32px;
    grid-template-rows: 22px 70px 58px 150px 120px 110px 40px 48px 40px;
    gap: 8px;
    align-self: center;
}

.red {
    background-color: #E72F24;
}

.white {
    background-color: #F0F1EC;
}

.black {
    background-color: #232629;
}

.yellow {
    background-color: #F9D01E;
}

.blue {
    background-color: #004592;
}

.light-gray {
    background-color: #d5dae2;
}

.one {
    grid-row: span 3;
}

.two {
    grid-column: span 2;
}

.three {
    grid-row: span 2;
}

.four {
    grid-row: span 2;
}

.five {
    grid-column: span 2;
    grid-row: span 3;
}

.six {
    grid-row: span 2;
}

.seven {
    grid-row: span 2;
}

.ten {
    grid-row: span 2;
}

.eleven {
    grid-column: span 2;
}

.fourteen {
    grid-row: span 3;
}

.fifteen {
    grid-row: span 3;
}

.sixteen {
    grid-column: span 2;
}

.eighteen {
    grid-row: span 2;
}

.nineteen {
    grid-column: span 2;
    grid-row: span 2;
}

.twenty {
    grid-row: span 3;
}

.twenty-two {
    grid-row: span 2;
}

.twenty-three {
    grid-row: span 2;
}

.twenty-four {
    grid-column: span 2;
    grid-row: span 3;
}

.twenty-five {
    grid-column: span 2;
    grid-row: span 2;
}

.twenty-six {
    grid-column: span 2;
}